@import './variables/utilities';

footer{
    background: $black;
    padding: 1rem 0;}
    .footer_wrapper{
    padding: 45px 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;}
    .footer_info {
    max-width: 20rem;}
    .footer_img {
    max-width: 13rem;}
    .footer_adrss{
    max-width: 90%;
    margin-top: 0.85rem;
    line-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-family: 300;}
    .footer_info p {
    font-weight: 250;
    margin-top: 14px;
    color: $secondary;}
    .footer_list {
    margin: 15px;}
    .footer_list li {
    padding: 8px;
    text-align: left;
    font-size: 14px;
    font-weight: 200;}
    .footer_list li a:hover {
    color: #9ba4aaf8;
    transition:  color .3s , transform .2s;}
    .footer_heading {
    color: $secondary;
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff1a;}
    .footer_end {
    border-top: 1px solid #9ba4aa38;
    padding: 13px;
    align-items: center;}
    .x-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;}
    .social-media li {
    font-size: 1.6rem;
    padding: 14px;}
    .footer-end {
    max-width: 12rem;}
    .fab {
    color: $secondary;}
    .fab:hover {
        color: #c91729ce;
        transition: color .4s, transition .4s;}
    .copyright {
    padding: 1rem 0;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    color: $secondary;}